:host {
  border: 1px solid grey;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  transition: border-color 0.5s;
}

:host(:hover) {
  border-color: white;
}

:host([selected]) {
  border-color: white;
}