:host {
  border: 1px solid white;
  color: white;
  border-radius: 4px;
  padding: 20px;
  display: grid;
  grid-row-gap: 20px;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  transition: opacity 0.5s;
}

header {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  align-items: center;
}

:host([selected]) {
  opacity: 1;
}